.main-display {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    padding-top: 10vh;
    background-color: #7fc5f7;
}

.main-display-header{
    display: flex;
}

.main-display-primary-weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.primary-weather-info-city-name {
    display: flex;
}
