.main-display {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    padding-top: 10vh;
    background-color: #7fc5f7;
}

.main-display > * {
    margin-top: 2.5vh;
}

.main-display-header{
    display: flex;
}
